<launch>
    <include file="/home/t/ros_driver/catkin_ws_control/src/%(package_prefix)s_driver-robobus/launch/%(package_prefix)s_driver.launch"/>
    <include file="/home/t/ros_driver/catkin_ws_control/src/ros_canopen-%(package_prefix)s/socketcan_bridge/launch/socketcan_bridge.launch"/>    
</launch>